<div ui-tree>
    <ol ui-tree-nodes="" ng-model="integrationAbstractProfiles">
        <li ng-repeat="ip in integrationAbstractProfiles" ui-tree-node data-nodrag>
            <div ui-tree-handle ng-class="{selected : this.$modelValue===activeModel,used:selectedTestStep&&selectedTestStep.integrationProfileId===this.$modelValue.id}" title="{{ip.integrationProfileMetaData.name}}">
                <i data-nodrag ng-click="toggle(this)" class="fa" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed}"></i>
                <span ng-click="Activate(this);openProfileMetadata(ip);"> <span class="label label-info label-icon">IP</span> {{ip.integrationProfileMetaData.name}}</span>
            </div>
            <ol ui-tree-nodes="" ng-model="ip.conformanceProfileMetaDataSet" ng-if="!collapsed">
                <li ng-repeat="msg in ip.conformanceProfileMetaDataSet |filter:sr" ui-tree-node>
                    <div ui-tree-handle ng-click="openMessageMetaData(msg, ip);Activate(this);" ng-class="{selected : this.$modelValue===activeModel ,used:selectedTestStep&& selectedTestStep.conformanceProfileId===this.$modelValue.id || selectedTemplate.conformanceProfileId===this.$modelValue.id}" title="{{msg.name}}">
                        <span ng-hide="selectedTestStep"><span class="label label-success label-icon">CP</span>{{msg.structId}}-{{msg.name}}-{{msg.identifier}}</span>
                        <span context-menu="ApplyProfile" ng-hide="!selectedTestStep"><span class="label label-success label-icon">CP</span>{{msg.structId}}-{{msg.name}}-{{msg.identifier}}</span>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>

<script type="text/ng-template" id="ViewIntegrationProfile.html">
    <div class="container">
        <div ng-show="selectedProfile !== null">
            <div class="page-header" style="margin-bottom: 20px">
                <span class="header4">Implementation Guide MetaData</span>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.name}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Type</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.type}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">HL7 Version</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.hl7Version}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Version</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.version}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Organization Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.orgName}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Date</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.date}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Specification Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.integrationProfileMetaData.specificationName}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Script Download</label>
                <div class="controls col-md-10">
                    <span ng-click="downloadProfileXML()"><i class="fa fa-file fa-fw"></i>Profile.xml</span>
                </div>
            </div>

            <br/>
            <br/>
            <br/>

            <div class="page-header" style="margin-bottom: 20px">
                <span class="header4">Constraints MetaData</span>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.conformanceContextMetaData.name}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Version</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.conformanceContextMetaData.version}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Organization Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.conformanceContextMetaData.orgName}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Date</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.conformanceContextMetaData.date}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Specification Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.conformanceContextMetaData.specificationName}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Script Download</label>
                <div class="controls col-md-10">
                    <span ng-click="downloadConstraintXML()"><i class="fa fa-file fa-fw"></i>Constraints.xml</span>
                </div>
            </div>

            <br/>
            <br/>
            <br/>

            <div class="page-header" style="margin-bottom: 20px">
                <span class="header4">ValueSets MetaData</span>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.valueSetLibraryMetaData.name}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Version</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.valueSetLibraryMetaData.version}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Organization Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.valueSetLibraryMetaData.orgName}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Date</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.valueSetLibraryMetaData.date}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Specification Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedProfile.valueSetLibraryMetaData.specificationName}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Script Download</label>
                <div class="controls col-md-10">
                    <span ng-click="downloadValueSetXML()"><i class="fa fa-file fa-fw"></i>ValueSets.xml</span>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="ViewMessageMetaData.html">
    <div class="container">
        <div ng-show="selectedMessage !== null">
            <div class="page-header" style="margin-bottom: 20px">
                <span class="header4">Message MetaData</span>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Name</label>
                <div class="controls col-md-10">
                    <span>{{::selectedMessage.name}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Description</label>
                <div class="controls col-md-10">
                    <span>{{::selectedMessage.description}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Identifier</label>
                <div class="controls col-md-10">
                    <span>{{::selectedMessage.identifier}}</span>
                </div>
            </div>

            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Message Type</label>
                <div class="controls col-md-10">
                    <span>{{::selectedMessage.type}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Message Event</label>
                <div class="controls col-md-10">
                    <span>{{::selectedMessage.event}}</span>
                </div>
            </div>
            <div class="form-group control-group container">
                <label class="col-md-2 control-label">Message Struct ID</label>
                <div class="controls col-md-10">
                    <span>{{::selectedMessage.structId}}</span>
                </div>
            </div>

        </div>
    </div>
</script>