<style id="antiClickjack">body{display:none !important;}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<script type="text/ng-template" id="warning-dialog.html">
    <div class="modal-header">
        <h3>Your session will expire soon!</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=30" class="modal-body">
        <progressbar type="warning" max="30" value="30" animate="false" class="progress-striped active">Your
            session
            will expire in {{countdown}} second(s).
        </progressbar>
    </div>
</script>

<script type="text/ng-template" id="timedout-dialog.html">
    <div class="modal-body info-dlg">
        <p>
            Your session has expired.
        </p>
    </div>
</script>

<script type="text/ng-template" id="NewAppVersion.html">
    <div class="modal-body error-dlg">
        <div ng-include="'InvalidAppState.html'"></div>
        <br/>
        <div style="text-align:center">
            <p>Please click
                <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                        title="Cancel" class="point">
                    <i class="fa fa-refresh"></i>
                    reset
                </button>
                to reinitialize your browser.</p>
        </div>

    </div>
</script>

<script type="text/ng-template" id="CriticalError.html">
    <div class="modal-body error-dlg">
        <p ng-bind="error">
        </p>
    </div>
    <div class="modal-footer error-dlg">
        <div class="pull-right">
            <button class="btn btn-xs btn-primary" ng-click="close()" type="button"
                    title="Cancel" class="point">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="ConfirmLogout.html">
    <div class="modal-header">
        <h3 class="modal-title">Logout Confirmation
        </h3>
    </div>
    <div class="modal-body">
        <p>You currently have unsaved changes. Are you sure you want to proceed ? All unsaved changes will
            be lost</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" ng-disabled="loading" ng-click="logout()"><span><i
                class="fa fa-sign-out fa-fw">&nbsp; </i>Logout</span>
        </button>
        <button class="btn btn-warning btn-sm" ng-disabled="loading" ng-click="cancel()"><span><i
                class="fa fa-times fa-fw">&nbsp; </i>Cancel</span>
        </button>
    </div>
</script>

<script type="text/ng-template" id="TestPlanCreationModal.html">
    <md-dialog aria-label="Create New TestPlan">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Create New TestPlan</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-show="!needHelp" class="md-dialog-content">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="newTestPlan.name" type="text"/>
                    </md-input-container>
                    <md-input-container style="width: 100%;">
                        <label>Description</label>
                        <input ng-model="newTestPlan.description" type="text"/>
                    </md-input-container>
                    <md-input-container style="width: 100%">
                        <label>Type</label>
                        <md-select ng-model="newTestPlan.type">
                            <md-option value="DataInstance">Data Instance</md-option>
                            <md-option value="Isolated">Isolated</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container style="width: 100%;">
                        <label>Implementation Guides</label>
                        <md-select ng-model="newTestPlan.listOfIntegrationProfileIds" multiple>
                            <md-optgroup label="My Implementation Guides">
                                <md-option ng-value="p.id" ng-repeat="p in privateProfiles">{{p.integrationProfileMetaData.name}}</md-option>
                            </md-optgroup>
                            <md-optgroup label="Public Implementation Guides">
                                <md-option ng-value="p.id" ng-repeat="p in publicProfiles">{{p.integrationProfileMetaData.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(0)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Back to create new TestPlan
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" class="btn btn-primary btn-sm" ng-disabled="!newTestPlan.name" ng-click="createNewTestPlan()">
                    <i class="fa fa-plus fa-fw">&nbsp; </i> Create
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>

<script type="text/ng-template" id="ImportXMLPublicProfileModal.html">
    <md-dialog aria-label="Import Public Profile">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Import Public Profile</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-show="!needHelp" class="md-dialog-content">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="profilePublicFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Profile XML File
                                <div id="errorMessageForPublicProfile"></div>
                            </label>
                            <input id="profilePublicFile" accept=".xml" onchange="angular.element(this).scope().validateForProfileXMLFile(this.files)" type="file" name="profilePublicFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="valueSetPublicFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose ValueSet XML File
                                <div id="errorMessageForValueSetPublic"></div>
                            </label>
                            <input id="valueSetPublicFile" accept=".xml" onchange="angular.element(this).scope().validateForValueSetXMLFile(this.files)" type="file" name="valueSetPublicFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="constraintsPublicFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Constraints XML File
                                <div id="errorMessageForConstraintsPublic"></div>
                            </label>
                            <input id="constraintsPublicFile" accept=".xml" onchange="angular.element(this).scope().validateForConstraintsXMLFile(this.files)" type="file" name="constraintsPublicFile" />
                        </div>
                    </div>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(1)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Back to Import Public Profile
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" id="importPublicProfileButton" class="btn btn-primary btn-sm" disabled ng-click="importProfileXML();">
                    <i class="fa fa-plus fa-fw">&nbsp; </i> Import
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

</script>

<script type="text/ng-template" id="TestPlanImportModal.html">
    <md-dialog aria-label="Import TestPlan JSON">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Import TestPlan JSON</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-show="!needHelp" class="md-dialog-content">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Type</label>
                            <md-select ng-model="type">
                                <md-option value="old">Old TestPlan Json</md-option>
                                <md-option value="new">New TestPlan Json</md-option>
                            </md-select>
                        </div>
                        <div class="col-md-12">
                            <label for="testplanJSONFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose TestPlan JSON File
                                <div id="errorMessageForJSONTestPlan"></div>
                            </label>
                            <input id="testplanJSONFile" accept=".json" onchange="angular.element(this).scope().validateForTestPlanJSONFile(this.files)" type="file" name="testplanJSONFile" />
                        </div>
                    </div>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(2)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Back to Import TestPlan JSON
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" id="importTestPlanButton" class="btn btn-primary btn-sm" disabled ng-click="importTestPlanJson();">
                    <i class="fa fa-plus fa-fw">&nbsp; </i> Import
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

</script>

<script type="text/ng-template" id="ImportXMLProfileModal.html">
    <md-dialog aria-label="Import Implementation Guide (XML)">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Import Implementation Guide (XML)</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-show="!needHelp" class="md-dialog-content">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="profileXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Profile XML File
                                <div id="errorMessageForXMLProfile"></div>
                            </label>
                            <input id="profileXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForProfileXMLFile(this.files)" type="file" name="profileXMLFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="valueSetXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose ValueSet XML File
                                <div id="errorMessageForValueSetXML"></div>
                            </label>
                            <input id="valueSetXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForValueSetXMLFile(this.files)" type="file" name="valueSetXMLFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="constraintsXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Constraints XML File
                                <div id="errorMessageForConstraintsXML"></div>
                            </label>
                            <input id="constraintsXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForConstraintsXMLFile(this.files)" type="file" name="constraintsXMLFile" />
                        </div>
                    </div>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(3)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Back to Import Implementation Guide (XML)
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" id="importProfileButton" class="btn btn-primary btn-sm" disabled ng-click="importProfileXML();">
                    <i class="fa fa-plus fa-fw">&nbsp; </i> Import
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

</script>

<script type="text/ng-template" id="ShowProfileModal.html">
    <md-dialog aria-label="Profile Viewer">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Profile Viewer</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <md-content class="md-padding">
                    <div class="page-header">
                        <span class="header5">Conformance Profile Metadata</span>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <md-input-container style="width: 100%;">
                                    <label>Name</label>
                                    <input ng-model="m.name" ng-disabled="true" type="text"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container style="width: 100%;">
                                    <label>Identifier</label>
                                    <input ng-model="m.identifier" ng-disabled="true" type="text"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container style="width: 100%;">
                                    <label>Description</label>
                                    <input ng-model="m.description" ng-disabled="true" type="text"/>
                                </md-input-container>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <md-input-container style="width: 100%;">
                                    <label>Type</label>
                                    <input ng-model="m.type" ng-disabled="true" type="text"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container style="width: 100%;">
                                    <label>Event</label>
                                    <input ng-model="m.event" ng-disabled="true" type="text"/>
                                </md-input-container>
                            </div>
                            <div class="col-md-4">
                                <md-input-container style="width: 100%;">
                                    <label>StructId</label>
                                    <input ng-model="m.structId" ng-disabled="true" type="text"/>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </md-content>
                <md-content class="md-padding">
                    <div class="page-header">
                        <span class="header5">Conformance Profile Structure Viewer</span>
                    </div>
                </md-content>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Close
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

</script>

<script type="text/ng-template" id="ReplaceXMLProfileModal.html">
    <md-dialog aria-label="Replace XML Profile">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Replace XML Profile</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-show="!needHelp" class="md-dialog-content">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="replaceProfileXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Profile XML File
                                <div id="errorMessageForReplaceProfile"></div>
                            </label>
                            <input id="replaceProfileXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForProfileXMLFile(this.files)" type="file" name="replaceProfileXMLFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="replaceValueSetXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose ValueSet XML File
                                <div id="errorMessageForReplaceValueSet"></div>
                            </label>
                            <input id="replaceValueSetXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForValueSetXMLFile(this.files)" type="file" name="replaceValueSetXMLFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="replaceConstraintsXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Constraints XML File
                                <div id="errorMessageForReplaceConstraints"></div>
                            </label>
                            <input id="replaceConstraintsXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForConstraintsXMLFile(this.files)" type="file" name="replaceConstraintsXMLFile" />
                        </div>
                    </div>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(4)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Back to Replace XML Profile
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" id="replaceProfileButton" class="btn btn-primary btn-sm" disabled ng-click="replaceProfileXML();">
                    <i class="fa fa-repeat fa-fw">&nbsp; </i> Replace
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

</script>

<script type="text/ng-template" id="ReplacePublicProfileModal.html">
    <md-dialog aria-label="Replace Public Profile">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Replace Public Profile</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div ng-show="!needHelp" class="md-dialog-content">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="replacePublicProfileXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Profile XML File
                                <div id="errorMessageForReplacePublicProfile"></div>
                            </label>
                            <input id="replacePublicProfileXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForProfileXMLFile(this.files)" type="file" name="replacePublicProfileXMLFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="replacePublicValueSetXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose ValueSet XML File
                                <div id="errorMessageForReplacePublicValueSet"></div>
                            </label>
                            <input id="replacePublicValueSetXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForValueSetXMLFile(this.files)" type="file" name="replacePublicValueSetXMLFile" />
                        </div>
                        <div class="col-md-12">
                            <label for="replacePublicConstraintsXMLFile" class="custom-file-upload">
                                <i class="fa fa-cloud-upload"></i> Choose Constraints XML File
                                <div id="errorMessageForReplacePublicConstraints"></div>
                            </label>
                            <input id="replacePublicConstraintsXMLFile" accept=".xml" onchange="angular.element(this).scope().validateForConstraintsXMLFile(this.files)" type="file" name="replacePublicConstraintsXMLFile" />
                        </div>
                    </div>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(5)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Replace Public Profile
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" id="replacePublicProfileButton" class="btn btn-primary btn-sm" disabled ng-click="replaceProfileXML();">
                    <i class="fa fa-repeat fa-fw">&nbsp; </i> Replace
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>

</script>

<script type="text/ng-template" id="EditTestStoryModal.html">
    <md-dialog aria-label="Edit Test Story Template">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Edit Test Story Template</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content style="width:1000px;">
                <div ng-show="!needHelp" class="md-dialog-content">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="selectedTestStoryConfig.name" type="text"/>
                    </md-input-container>
                    <div class="row">
                        <div class="col-md-8">Test Story Sections</div>
                        <div class="col-md-2" style="text-align:center;">Include in Test Story</div>
                        <div class="col-md-2" style="text-align:center;">Include in Test Plan Summary Document</div>
                    </div>
                    <div dnd-list="selectedTestStoryConfig.testStoryConfig" >
                        <div ng-repeat="item in selectedTestStoryConfig.testStoryConfig"
                             dnd-draggable="item"
                             dnd-moved="selectedTestStoryConfig.testStoryConfig.splice($index, 1)"
                             dnd-effect-allowed="move"
                             dnd-dragend="setPosition(item,$index);">

                                <div dnd-handle style="cursor: move;position: absolute;top: 14px;"></div>
                                <div class="row name" >
                                    <label class="col-md-8" ng-show="item.scope === 'default'">{{item.title}}</label>
                                    <div class="col-md-8" ng-show="item.scope !== 'default'">
                                            <input type="text" required ng-model="item.title" />
                                            <i class="fa fa-times fa-fw" style="color: red" ng-click="deleteItem($index);"/>
                                    </div>
                                    <div class="col-md-2" style="text-align:center;"><input type="checkbox" ng-model="item.present" /></div>
                                    <div class="col-md-2" style="text-align:center;"><input type="checkbox" ng-model="item.summaryEntry" /></div>
                                </div>
                        </div>
                        <li class="dndPlaceholder">
                            <strong style="color:green;"> Drop Here</strong>
                            <br/>
                        </li>
                    </div>
                    <button class="btn btn-sm btn-info" ng-click="addField()"><i class="fa fa-plus"></i> Add Field</button>
                </div>
                <div ng-show="needHelp" class="md-dialog-content">
                    <div style="width: 100%" ng-bind-html="getHtml(6)"></div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-show="!needHelp" class="btn btn-default btn-sm" ng-click="showHelp()">
                    <i class="fa fa-question fa-fw">&nbsp; </i> Show Help
                </md-button>
                <md-button ng-show="needHelp" class="btn btn-default btn-sm" ng-click="needHelp = false;">
                    <i class="fa fa-arrow-left fa-fw">&nbsp; </i> Edit Test Story Template
                </md-button>
                <span flex></span>
                <md-button class="btn btn-default btn-sm" ng-click="cancel()">
                    <i class="fa fa-times fa-fw">&nbsp; </i> Cancel
                </md-button>
                <md-button ng-show="!needHelp" class="btn btn-primary btn-sm" ng-click="saveTestStoryConfig();">
                    <i class="fa fa-repeat fa-fw">&nbsp; </i> Save
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
<script type="text/ng-template" id="GVTConfirm.html">
    <md-dialog aria-label="Confirmation">
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Confirmation</h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                        <div class="alert alert-warning">
                            This Opertaion may take a few minutes depending on your test plan size. you will be notified by e-mail when your test plan is available on GVT
                        </div>
                    <br/>
                    <md-checkbox ng-model="preference.hideGvtDialg">Don't show this message again</md-checkbox>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="end end">
                <md-button class="btn btn-primary btn-sm pull-right"  ng-click="ok()">Ok
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
<script type="text/ng-template" id="exportGVT.html">
    <md-dialog aria-label="exportXml" style="min-width: 50%">
        <div ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><i class="fa fa-paper-plane fa-fw"></i> Connect </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <i class="fa fa-close"></i>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <div ng-show="exportStep === 'LOGIN_STEP'">
                        <md-card>
                            <md-card-header style="font-size:14px;font-weight: bold">
                                Login information
                            </md-card-header>
                            <md-card-content>

                                <form name="gvtLoginForm" id="gvtLoginForm" novalidate ng-cloak
                                      style="padding:20px 0px 20px 0px">

                                    <div>


                                        <md-checkbox ng-model="customURl" ng-click="toggleCustom(customURl)"> <label>custom URL</label></md-checkbox>

                                        <md-input-container class="md-block" md-no-float
                                                            style="margin-bottom: 30px" ng-show="!customURl">

                                            <label>Select Target Url </label>
                                            <md-select ng-model="app"
                                                       placeholder="Select the Target Url"
                                                       ng-change="selectTargetUrl()"
                                                       id="targetApp">
                                                <md-option ng-value="app" ng-repeat="app in targetApps">{{
                                                    app.name
                                                    }}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>




                                        <md-input-container class="md-block" md-no-float ng-if="customURl">
                                            <label>Custom URL</label>
                                            <input autocomplete="off" autofocus
                                                   id="testURl"
                                                   name="testURL"
                                                   placeholder="Enter your Test URL"
                                                   type="url" ng-model="app.url" ng-required="customURl">
                                        </md-input-container>

                                        <md-input-container class="md-block" md-no-float>
                                            <label>Username</label>
                                            <input type="text" autocomplete="off" autofocus
                                                   id="gvtUsername"
                                                   name="gvtUsername"
                                                   placeholder="Username"
                                                   ng-model="user.username" ng-minlength="4" required>
                                            <div ng-messages="gvtLoginForm.gvtUsername.$error" role="alert"
                                                 multiple>
                                                <div ng-message="required" class="my-message">You must supply a
                                                    username.
                                                </div>
                                            </div>
                                        </md-input-container>
                                        <!--</div>-->

                                        <!--<div ng-class="{'has-success has-feedback': gvtLoginForm.gvtPassword.$valid, 'igl-has-error has-feedback': !gvtLoginForm.gvtPassword.$valid}">-->
                                        <md-input-container class="md-block" md-no-float>
                                            <label>Password</label>
                                            <input type="password" autocomplete="off" id="gvtPassword"
                                                   placeholder="Password"
                                                   name="gvtPassword" ng-model="user.password" ng-minlength="4"
                                                   required>
                                            <div ng-messages="gvtLoginForm.gvtPassword.$error" role="alert"
                                                 multiple>
                                                <div ng-message="required" class="my-message">You must supply a
                                                    password.
                                                </div>
                                            </div>
                                        </md-input-container>

                                    </div>

                                    <div layout-gt-sm="row" ng-show="loadingDomains">
                                        <i class="fa fa-spinner fa-1" aria-hidden="true"></i>
                                    </div>
                                </form>
                            </md-card-content>


                            </md-card-content>
                            <md-card-footer>
                                <div ng-show="target.url != null">
                                    <a ng-href="{{target.url}}#/forgotten" target="_blank"
                                       style="text-align:center">
                                        <span> Reset password</span>
                                    </a>
                                    <br/>
                                    <a ng-href="{{target.url}}#/registration" target="_blank"
                                       style="text-align:center">
                                        <span>Register</span>
                                    </a>
                                </div>
                            </md-card-footer>
                        </md-card>
                    </div>

                    <div ng-show="exportStep === 'DOMAIN_STEP'">
                        <md-card>
                            <md-card-header style="font-size:14px;font-weight: bold">
                                Tool Scope
                            </md-card-header>

                            <md-card-content>

                                <form name="remoteDomainForm" id="remoteDomainForm" class="horizontal" novalidate
                                      ng-cloak>
                                    <!--<div ng-class="'alert alert-info'" style="font-size:14px;font-weight: bold">-->
                                    <!--Target Scope-->
                                    <!--</div>-->
                                    <div layout="row">
                                        <md-input-container flex="50" md-no-float>
                                            <label>Target Tool Scope</label>
                                            <md-select ng-model="target.domain" placeholder="Select Tool Scope"
                                                       ng-change="selectTargetDomain()"
                                                       id="targetDomain" ng-required="newDomain == null">
                                                <md-option ng-value="dom.domain" ng-repeat="dom in targetDomains">
                                                    {{ dom.name }}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>

                                        <span flex="5" style="text-align: center; align:center">
                                                Or
                                            </span>
                                        <span flex="15">
                                     <md-button class="btn btn-raised btn-default btn-xs"
                                                ng-click="createNewDomain()"><span><i
                                             class="fa fa-plus fa-fw"></i>Create Tool Scope</span></md-button>
                                 </span>
                                    </div>

                                    <div layout="row" ng-if="newDomain != null">
                                        <hr/>
                                        <md-input-container flex="100" class="md-block" md-no-float>
                                            <label>Name</label>
                                            <input required
                                                   placeholder="Tool Scope Name"
                                                   name='newDomainName'
                                                   id='newDomainName' type='text'
                                                   ng-model='newDomain.name'>
                                            <div ng-messages="remoteDomainForm.newDomainName.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex="100" class="md-block" md-no-float>
                                            <label>Title</label>
                                            <input required
                                                   placeholder="Tool Scope Title"
                                                   name='newDomainTitle'
                                                   id='newDomainTitle' type='text'
                                                   ng-model='newDomain.homeTitle'>
                                            <div ng-messages="remoteDomainForm.newDomainTitle.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>

                                    </div>

                                </form>
                            </md-card-content>
                        </md-card>
                    </div>

                    <div ng-show="error && error != null" style="margin-top:10px; margin-bottom: 10px">
                        <div ng-class="'alert alert-danger'">
                            <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>{{error}}</p>
                        </div>
                    </div>

                    <div ng-show="exportStep === 'ERROR_STEP'">
                        <md-card>
                            <md-card-content>
                                <div ng-show="info.type === 'info'">
                                    <div ng-class="'alert alert-success'" style="font-size:14px;;font-weight: bold">
                                        <p><i class="fa fa-check" aria-hidden="true"></i> Transaction Successful !
                                        </p>

                                    </div>
                                    <p><a style="font-size:14px;" ng-href="{{redirectUrl}}" target="_blank">You are
                                        now
                                        being redirected to {{target.url}}.
                                        Please click here if you are not redirected after 2s</a>
                                    </p>
                                </div>
                                <div ng-show="info.type === 'danger'">
                                    <div ng-if="info.details === null || !info.details">
                                        <div ng-class="'alert alert-danger'"
                                             style="font-size:14px;font-weight: bold">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            <span msg key="info.text"></span>
                                        </div>
                                    </div>

                                    <div ng-if="info.details != null && info.details">

                                        <div ng-class="'alert alert-danger'"
                                             style="font-size:14px;font-weight: bold">
                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            Export Failed
                                        </div>
                                        <div ng-bind-html="info.details"></div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button
                        ng-show="exportStep === 'ERROR_STEP' || exportStep === 'DOMAIN_STEP'"
                        class="btn btn-raised btn-primary btn-sm"
                        ng-click="goBack()"><span><i
                        class="fa fa-arrow-left fa-fw"></i>Back</span></md-button>


                <md-button ng-show="(exportStep === 'LOGIN_STEP')"
                           class="btn btn-raised btn-primary btn-sm"

                           ng-disabled="gvtLoginForm.gvtPassword.$invalid || gvtLoginForm.gvtUsername.$invalid||gvtLoginForm.testURL.$invalid"
                           ng-click="goNext()"><span><i
                        class="fa fa fa-arrow-right fa-fw"></i> Next </span></md-button>

                <md-button ng-if=" exportStep === 'DOMAIN_STEP'" class="btn btn-raised btn-success btn-sm"
                           ng-click="exportAsZIPToGVT()"
                           ng-disabled="loading  || ((newDomain == null || newDomain.homeTitle == null || newDomain.homeTitle == '' || newDomain.name == null  || newDomain.name == '') && target.domain == null)"><span><i
                        class="fa fa-paper-plane fa-fw"></i>SUBMIT</span></md-button>

            </md-dialog-actions>
        </div>
    </md-dialog>
</script>
