<style id="antiClickjack">body {
    display: none !important;
}</style> <script type="text/javascript">if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }</script> <div class=""> <div class="row container"> <div class="col-md-12" style="margin-bottom: 20px"> <div class="page-header"> <div class="header5">Glossary</div> </div> <div class="row"> <div class="col-md-6"> <table class="table table-striped table-bordered"> <thead> <tr class="tbl-header"> <th> Element  <th> Description    <tbody> <tr> <td> <span class="label label-success label-icon">G</span>  <td> Group   <tr> <td> <span class="label label-segment label-icon">S</span>  <td> Segment   <tr> <td> <span class="label label-field label-icon">F</span>  <td> Field   <tr> <td> <span class="label label-datatype label-icon">D</span>  <td> Datatype   <tr> <td> <span class="label label-component label-icon">C</span>  <td> Component   <tr> <td> <span class="label label-sub-component label-icon">G</span>  <td> SubComponent    </table> </div> </div> </div> </div> </div>