<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    };
</script>
<div class="container" ng-controller="DownloadCtrl" ng-init="initDownloads()">
    <div ng-show="isAuthenticated()">
        <div ng-show="!isPending()">
            <div class="row">
                <div ng-cloak>
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Download bundles and Profiles">
                                <md-content class="md-padding">
                                    <div class="col-md-12">
                                        <table st-table="tmpRbList" st-safe-src="rbList" class="smart-table table table-striped table-bordered">
                                            <thead>
                                            <tr class="tbl-header">
                                                <th st-ratio="5">#</th>
                                                <th st-ratio="35" st-sort="name">Name</th>
                                                <th st-ratio="20">Profile/ValueSet/Constraints XML</th>
                                                <th st-ratio="20">Resource Bundle</th>
                                                <th st-ratio="20">Resource Bundle with PDF</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="row in tmpRbList">
                                                <td st-ratio="5">{{$index + 1}}</td>
                                                <td st-ratio="35" ng-bind="row.name"></td>
                                                <td st-ratio="20" align="center">
                                                    <span ng-show="row.hasXML" ng-click="downloadXMLs(row.id);"><i class="fa fa-download fa-fw"></i> Download XMLs(Zip)</span>
                                                </td>
                                                <td st-ratio="20" align="center">
                                                    <span ng-show="row.hasResourceBundle" ng-click="downloadRB(row.id);"><i class="fa fa-download fa-fw"></i> Download Resource Bundle(Zip)</span>
                                                </td>
                                                <td st-ratio="20" align="center">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>
            </div>
        </div>

        <div style="font-size: 18px;text-align: center" ng-show="isPending()">
            <div msg key='account.pendingSection'></div>
        </div>

    </div>

    <div ng-show="!isAuthenticated()" style="font-size: 18px;text-align: center">
        <p>Please <a href="" ng-click="loginReq()"><i class="fa fa-sign-in"></i>&nbsp;login</a> to access this page. You
            can also <a href="#/registration"><i class="fa fa-chevron-circle-right"></i>&nbsp;register</a></p>
    </div>
</div>
