<style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestCaseGroupMetadata.html">
	<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTestPlanTab.tabNum">
		<md-tab label="MetaData" md-active="true">
			<md-content class="md-padding">
				<div class="page-header">
        			<span class="header5">Test Group Metadata</span>
    			</div>

				<form name="testcasegroupMetaDataForm" class="form-horizontal" novalidate>
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-6">
								<md-input-container style="width: 100%;">
									<label>Name</label>
									<input ng-model="selectedTestCaseGroup.name" ng-change="recordChanged(selectedTestCaseGroup);updateCurrentTitle('Test Group', selectedTestCaseGroup.name);" type="text"/>
								</md-input-container>
							</div>

							<div class="col-md-6">
								<md-input-container style="width: 100%;">
									<label>Description</label>
									<textarea ng-model="selectedTestCaseGroup.description" ng-change="recordChanged(selectedTestCaseGroup)"></textarea>
								</md-input-container>
							</div>
						</div>
					</div>
				</form>
			</md-content>
		</md-tab>

		<md-tab label="Test Story">
			<md-content class="md-padding">
				<div class="row">
					<md-input-container style="width: 100%;">
						<label>TestGroup Test Story Template</label>
						<md-select ng-model="selectedTestCaseGroup.testStoryConfigId" ng-change="recordChanged(selectedTestCaseGroup);updateTestStoryConfigForTestGroup();">
							<md-option ng-value="config.id" ng-repeat="config in testStoryConfigs">{{config.name}}</md-option>
						</md-select>
					</md-input-container>
					<uib-accordion close-others="true">
						<uib-accordion-group  ng-repeat ="entry in selectedTestCaseGroup.testStoryConfig.testStoryConfig" ng-init="status = {isOpen: false}" is-open="status.isOpen" ng-if="entry.present">
							<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': status.isOpen, 'fa-caret-right': !status.isOpen}"></i>
											{{entry.title}}
											</span>
							</uib-accordion-heading>
							<div class="col-md-12">
								<textarea froala="froalaEditorOptions" ng-change="froalaChange(selectedTestCaseGroup.testStoryContent[entry.id],selectedTestCaseGroup)" name="teststorydesc" ng-model="selectedTestCaseGroup.testStoryContent[entry.id]"></textarea>
							</div>
						</uib-accordion-group>
					</uib-accordion>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>

</script>