 <style id="antiClickjack">
body {
	display: none !important;
}
</style>
<script type="text/javascript">
	if (self === top) {
		var antiClickjack = document.getElementById("antiClickjack");
		antiClickjack.parentNode.removeChild(antiClickjack);
	} else {
		top.location = self.location;
	}
</script>
<script type="text/ng-template" id="EditTestCaseMetadata.html">
	<div ng-if="selectedTestCase">
		<div ng-cloak>
			<md-content>
				<md-tabs md-dynamic-height md-border-bottom md-selected="selectedTestCaseTab">
					<md-tab label="MetaData">
						<md-content class="md-padding">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<md-input-container style="width: 100%;">
											<label>Name</label>
											<input ng-model="selectedTestCase.name" ng-change="recordChanged(selectedTestCase);updateCurrentTitle('Test Case', selectedTestCase.name);" type="text"/>
										</md-input-container>
									</div>

									<div class="col-md-6">
										<md-input-container style="width: 100%;">
											<label>Description</label>
											<textarea ng-model="selectedTestCase.description" ng-change="recordChanged(selectedTestCase)"></textarea>
										</md-input-container>
									</div>
								</div>
								<div ng-if="selectedTestPlan.transport" class="col-md-12">
									<div class="col-md-6">
										<md-input-container style="width: 100%;">
											<label>Protocol</label>
											<md-select ng-model="selectedTestCase.protocol" ng-change="recordChanged(selectedTestCase);">
												<md-option value="soap">SOAP</md-option>
											</md-select>
										</md-input-container>
									</div>
								</div>
							</div>
						</md-content>
					</md-tab>
					<md-tab label="Test Story">
						<md-content class="md-padding">
							<div class="row">
								<md-input-container style="width: 100%;">
									<label>TestCase Test Story Template</label>
									<md-select ng-model="selectedTestCase.testStoryConfigId" ng-change="recordChanged(selectedTestCase);updateTestStoryConfigForTestCase();">
										<md-option ng-value="config.id" ng-repeat="config in testStoryConfigs">{{config.name}}</md-option>
									</md-select>
								</md-input-container>
								<uib-accordion close-others="true">
									<uib-accordion-group  ng-repeat ="entry in selectedTestCase.testStoryConfig.testStoryConfig" ng-init="status = {isOpen: false}" is-open="status.isOpen" ng-if="entry.present">
										<uib-accordion-heading>
											<span style="color: white !important;">
												<i class="fa" ng-class="{'fa-caret-down': status.isOpen, 'fa-caret-right': !status.isOpen}"></i>
											{{entry.title}}
											</span>
										</uib-accordion-heading>
										<div class="col-md-12">
											<textarea froala="froalaEditorOptions" ng-change="froalaChange(selectedTestCase.testStoryContent[entry.id],selectedTestCase)" name="teststorydesc" ng-model="selectedTestCase.testStoryContent[entry.id]"></textarea>
										</div>
									</uib-accordion-group>
								</uib-accordion>
							</div>
						</md-content>
					</md-tab>
			</md-content>
		</div>
	</div>
</script> 