<style id="antiClickjack">body {
    display: none !important;
}</style>
<script type="text/javascript">
    if (self === top) {
        var antiClickjack = document.getElementById("antiClickjack");
        antiClickjack.parentNode.removeChild(antiClickjack);
    } else {
        top.location = self.location;
    }
</script>
<div class="">
    <div class="container" style="margin-bottom: 20px">
        <div class="row">

            <div class="col-md-12" style="margin-bottom: 10px">
                <div clas="page-header"><div class="header5">Welcome to the Test Case Authoring and Management Tool (TCAMT)</div>
                </div>
                <hr />
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading">
                        <span style="font-size: 14px; font-weight: bold">Note to Users</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left;">The NIST Test Case Authoring and Management Tool (TCAMT) is part of the <strong>NIST HL7 v2 Standards Development and Testing Platform</strong>. TCAMT is a tool used to create scenario-based Test Cases to support Context-based Testing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading">
                        <span style="font-size: 14px; font-weight: bold">Have a Question?</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left;">A Google Group <a class="point"
                                                                           ng-href="https://groups.google.com/forum/#!forum/nist-tcamt"
                                                                           target="_blank">NIST-TCAMT</a>
                                has been established for discussion/questions about the tool. No
                                membership is required. A Google account is required for posting.</p>
                            <ul>
                                <li>Site: <a class="point" target="_blank"
                                             ng-href="https://groups.google.com/forum/#!forum/nist-tcamt">https://groups.google.com/forum/#!forum/nist-tcamt</a>
                                </li>
                                <li>Email: nist-tcamt@googlegroups.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary home-page-panel">
                    <div class="panel-heading">
                        <span style="font-size: 14px; font-weight: bold">Supported Browsers</span>
                    </div>
                    <div class="panel-body">
                        <div class="home-page-panel-content">
                            <p style="text-align: left">The following browsers are supported:
                            <ul>
                                <li>Chrome <span style="color:red">(Recommended)</span></li>
                                <li>Firefox <span style="color:red"></span></li>
                                <li>Safari</li>
                            </ul>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" style="margin-top: 10px">
                <img src="images/Platform.png" style="width:100%" alt="NIST HL7 v2 Standards Development and Testing Platform">
            </div>
            <div class="col-md-4" style="margin-top: 10px">
                <p style="text-align: left;"><strong>NIST HL7 v2 Standards Development and Testing Platform</strong> consists of </p>
                <ul>
                    <li><strong>Implementation Guide Authoring & Management Tool (IGAMT)</strong>: is a profiling tool used to create HL7 v2.x implementation guides; output of IGAMT includes machine-computable artifacts used to (1) generate validation tools for Context-free Testing in GVT (2) generate profiles that are imported into TCAMT for development of Test Cases used for Context-based Testing in GVT</li>
                    <li><strong>Test Case Authoring & Management Tool (TCAMT)</strong>: is used to create scenario-based Test Cases to support Context-based Testing; machine-computable artifacts from IGAMT are imported into TCAMT and serve as the basis for creating the Test Cases  </li>
                    <li><strong>General Validation Tool (GVT)</strong>: utilizes artifacts developed in IGAMT for Context-free Testing and in TCAMT for Context-based Testing</li>
                    <ul>
                        <li><strong>Context-free Testing</strong>: provides validation of an HL7 v2 message based on the technical requirements defined in a conformance profile</li>
                        <li><strong>Context-based Testing</strong>: provides validation of an HL7 v2 message based on the technical requirements defined in a conformance profile and with a provided context. The context is provided through the means of a directed test case. Context-based testing expands the scope of testing</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>
