<div ui-tree>



    <ol ui-tree-nodes="" ng-model="templatesToc">
        <li ng-repeat="template in templatesToc" ui-tree-node data-nodrag>
                <div ui-tree-handle>
                    Test Data Categorization Templates
                </div>
            <div ui-tree-handle style="margin-left: 20px;">
                <i data-nodrag ng-click="switchermsg()" class="fa" ng-class="{'fa-caret-right': messagetempCollapsed, 'fa-caret-down': !messagetempCollapsed}"></i> Message Templates
            </div>
            <ol ui-tree-nodes="" ng-model="template.messageTemplates" ng-if="!messagetempCollapsed">
                <li ng-repeat="msgTmp in template.messageTemplates" ui-tree-node>
                    <div ui-tree-handle ng-class="{'selected' : this.$modelValue===activeModel,'unsaved':changesMap[msgTmp.id]}">
                        <span class="MenuEnabled" ng-show="messageTemplateApplicable(msgTmp)">
                            <span class="label label-success label-icon">MT</span>
                            <span ng-click="Activate(this);OpenMsgTemplateMetadata(msgTmp)">[{{msgTmp.structID}}]{{msgTmp.name}}</span>
                            <span class="label label-primary label-icon" ng-click="openMessageTemplate(msgTmp);">APPLY</span>
                            <span class="label label-info label-icon" ng-click="copyMessageTemplate(msgTmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteMessageTemplate(msgTmp)">DEL</span>
                        </span>
                        <span class="MenuDisabled" ng-show="!messageTemplateApplicable(msgTmp)">
                            <span class="label label-success label-icon">MT</span>
                            <span ng-click="Activate(this);OpenMsgTemplateMetadata(msgTmp)">[{{msgTmp.structID}}]{{msgTmp.name}}</span>
                            <span class="label label-info label-icon" ng-click="copyMessageTemplate(msgTmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteMessageTemplate(msgTmp)">DEL</span>
                        </span>
                    </div>
                </li>
            </ol>
            <div ui-tree-handle style="margin-left: 20px;">
                <i data-nodrag ng-click="switcherseg()" class="fa" ng-class="{'fa-caret-right': segmenttempCollapsed, 'fa-caret-down': !segmenttempCollapsed}"></i> Segment Templates
            </div>
            <ol ui-tree-nodes="" ng-model="template.segmentTemplates" ng-if="!segmenttempCollapsed">
                <li ng-repeat="segTmp in template.segmentTemplates" ui-tree-node ng-if="selectedSegmentNode===null ||selectedSegmentNode.segmentName===segTmp.segmentName">
                    <div ui-tree-handle ng-class="{selected : this.$modelValue===activeModel,'unsaved':changesMap[segTmp.id]}">
                        <span class="MenuEnabled" ng-show="segmentTemplateApplicable(segTmp)">
                            <span class="label label-success label-icon">ST</span>
                            <span ng-click="Activate(this);OpenSegmentTemplateMetadata(segTmp)">[{{segTmp.segmentName}}]{{segTmp.name}}</span>
                            <span class="label label-primary label-icon" ng-click="openSegmentTemplate(segTmp);">APPLY</span>
                            <span class="label label-info label-icon" ng-click="copySegmentTemplate(segTmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteSegmentTemplate(segTmp)">DEL</span>
                        </span>
                        <span class="MenuDisabled" ng-show="!segmentTemplateApplicable(segTmp)">
                            <span class="label label-success label-icon">ST</span>
                            <span ng-click="Activate(this);OpenSegmentTemplateMetadata(segTmp)">[{{segTmp.segmentName}}]{{segTmp.name}}</span>
                            <span class="label label-info label-icon" ng-click="copySegmentTemplate(segTmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteSegmentTemplate(segTmp)">DEL</span>
                        </span>
                    </div>
                </li>
            </ol>

            <br/>

            <div ui-tree-handle>
                ER7 Templates
            </div>
            <div ui-tree-handle style="margin-left: 20px;">
                <i data-nodrag ng-click="switcherEr7Message()" class="fa" ng-class="{'fa-caret-right': Er7MessageCollapsed, 'fa-caret-down': !Er7MessageCollapsed}"></i> ER7 Message Templates
            </div>
            <ol ui-tree-nodes="" ng-model="template.er7Templates" ng-if="!Er7MessageCollapsed">
                <li ng-repeat="er7Tmp in template.er7Templates" ui-tree-node>
                    <div ui-tree-handle ng-class="{'selected' : this.$modelValue===activeModel,'unsaved':changesMap[er7Tmp.id]}">
                        <span ng-show="messageTemplateApplicable(er7Tmp)" class="MenuEnabled">
                            <span class="label label-success label-icon">ET</span>
                            <span ng-click="Activate(this);OpenEr7TemplatesMetadata(er7Tmp)">[{{er7Tmp.structID}}]{{er7Tmp.name}}</span>
                            <span class="label label-primary label-icon" ng-click="applyEr7Message(er7Tmp);">APPLY</span>
                            <span class="label label-info label-icon" ng-click="copyER7Template(er7Tmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteER7Template(er7Tmp)">DEL</span>
                        </span>
                        <span ng-show="!messageTemplateApplicable(er7Tmp)" class="MenuDisabled">
                            <span class=" label label-success label-icon">ET</span>
                            <span>[{{er7Tmp.structID}}]{{er7Tmp.name}}</span>
                            <span class="label label-info label-icon" ng-click="copyER7Template(er7Tmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteER7Template(er7Tmp)">DEL</span>
                        </span>
                    </div>
                </li>
            </ol>

            <div ui-tree-handle style="margin-left: 20px;">
                <i data-nodrag ng-click="switcherEr7Segment()" class="fa" ng-class="{'fa-caret-right': Er7SegmentCollapsed, 'fa-caret-down': !Er7SegmentCollapsed}"></i> ER7 Segment Line Templates
            </div>
            <ol ui-tree-nodes="" ng-model="template.er7segmentTemplates" data-nodrag ng-if="!Er7SegmentCollapsed">
                <li ng-repeat="er7Tmp in template.er7segmentTemplates" ui-tree-node data-nodrag>
                    <div ui-tree-handle ng-class="{'selected' : this.$modelValue===activeModel,'unsaved':changesMap[er7Tmp.id]}">
                        <span ng-show="segmentTemplateApplicable(er7Tmp)" class="MenuEnabled">
                            <span class="label label-success label-icon">SL</span>
                            <span ng-click="Activate(this);OpenEr7SegmentTemplatesMetadata(er7Tmp)">[{{er7Tmp.segmentName}}]{{er7Tmp.name}}</span>
                            <span class="label label-primary label-icon" ng-click="applyEr7Segment(er7Tmp);">APPLY</span>
                            <span class="label label-info label-icon" ng-click="copyER7SegmentTemplate(er7Tmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteER7SegmentTemplate(er7Tmp)">DEL</span>
                        </span>
                        <span ng-show="!segmentTemplateApplicable(er7Tmp)" class="MenuDisabled">
                            <span class=" label label-success label-icon">SL</span>
                            <span>[{{er7Tmp.segmentName}}]{{er7Tmp.name}}</span>
                            <span class="label label-info label-icon" ng-click="copyER7SegmentTemplate(er7Tmp)">COPY</span>
                            <span class="label label-warning label-icon" ng-click="deleteER7SegmentTemplate(er7Tmp)">DEL</span>
                        </span>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>

<script type="text/ng-template" id="TemplateMetadata.html">
    <div class="page-header">
        <span class="header4">Template Metadata</span>
    </div>
    <form name="testplanMetaDataForm" class="form-horizontal" novalidate>
        <div class="row" style="margin-top:35px">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="rootTemplate.name" ng-change="recordChanged()" type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Description</label>
                        <input ng-model="rootTemplate.description" ng-change="recordChanged()" type="text"/>
                    </md-input-container>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Date</label>
                        <input ng-model="rootTemplate.date" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/ng-template" id="MessageTemplateMetadata.html">
    <div class="page-header">
        <span class="header4">Template Metadata</span>
    </div>
    <form name="testplanMetaDataForm" class="form-horizontal" novalidate>
        <div class="row" style="margin-top:35px">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="msgTemplate.name" ng-change="recordChanged(msgTemplate)" type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Description</label>
                        <input ng-model="msgTemplate.description" ng-change="recordChanged(msgTemplate)" type="text"/>
                    </md-input-container>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Implementation Guide</label>
                        <input ng-model="integrationProfileTitle" disabled type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Message Profile</label>
                        <input ng-model="conformanceProfileTitle" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Date</label>
                        <input ng-model="msgTemplate.date" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>

    <div class="page-header">
        <span class="header4">Categorizations</span>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="tbl-header">
                    <th class="col-md-2">Path</th>
                    <th class="col-md-5">Test Data Categorization</th>
                    <th class="col-md-5">List Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="categorization in msgTemplate.categorizations">
                    <td class="col-md-2">
                        {{categorization.iPath}}
                    </td>
                    <td class="col-md-5">
                        <select class="form-control" ng-model="categorization.testDataCategorization" ng-change="recordChanged(msgTemplate);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations">
                            <option value="">No test data Cate.</option>
                        </select>
                    </td>
                    <td class="col-md-5">
						<ul>
							<li ng-repeat="data in categorization.listData">
                        {{data}}
							</li>
						</ul>
               
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="Er7TemplateMetadata.html">
    <div class="page-header">
        <span class="header4">Template Metadata</span>
    </div>
    <form name="testplanMetaDataForm" class="form-horizontal" novalidate>
        <div class="row" style="margin-top:35px">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="er7Template.name" ng-change="recordChanged(er7Template)" type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Description</label>
                        <input ng-model="er7Template.description" ng-change="recordChanged(er7Template)" type="text"/>
                    </md-input-container>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Implementation Guide</label>
                        <input ng-model="integrationProfileTitle" disabled type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Message Profile</label>
                        <input ng-model="conformanceProfileTitle" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Date</label>
                        <input ng-model="er7Template.date" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
    <div class="page-header">
        <span class="header4">ER7 Message</span>
    </div>

    <div class="col-md-12">
        <ui-codemirror disabled ui-codemirror-opts="editorOptions" ng-model="er7Template.er7Message"></ui-codemirror>
    </div>
</script>

<script type="text/ng-template" id="Er7SegmentTemplateMetadata.html">
    <div class="page-header">
        <span class="header4">Template Metadata</span>
    </div>
    <form name="testplanMetaDataForm" class="form-horizontal" novalidate>
        <div class="row" style="margin-top:35px">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="er7SegmentTemplate.name" ng-change="recordChanged(er7SegmentTemplate)" type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Description</label>
                        <input ng-model="er7SegmentTemplate.description" ng-change="recordChanged(er7SegmentTemplate)" type="text"/>
                    </md-input-container>
                </div>
            </div>

 

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Date</label>
                        <input ng-model="er7SegmentTemplate.date" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>


    <div class="col-md-12">
       <label>Segment Line</label>
       <md-input-container style="width: 100%;">
        <input style="width:100%" ng-model="er7SegmentTemplate.content"/>
        </md-input-container>
    </div>
</script>
<script type="text/ng-template" id="SegmentTemplateMetadata.html">
    <div class="page-header">
        <span class="header4">Template Metadata</span>
    </div>
    <form name="testplanMetaDataForm" class="form-horizontal" novalidate>
        <div class="row" style="margin-top:35px">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Name</label>
                        <input ng-model="segmentTemplateObject.name" ng-change="recordChanged(segmentTemplateObject)" type="text"/>
                    </md-input-container>
                </div>

                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Description</label>
                        <input ng-model="segmentTemplateObject.description" ng-change="recordChanged(segmentTemplateObject)" type="text"/>
                    </md-input-container>
                </div>
            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input-container style="width: 100%;">
                        <label>Date</label>
                        <input ng-model="segmentTemplateObject.date" disabled type="text"/>
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
    <div class="page-header">
        <span class="header4">Categorizations</span>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="tbl-header">
                    <th class="col-md-2">Path</th>
                    <th class="col-md-5">Test Data Categorization</th>
                    <th class="col-md-5">list Data</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="categorization in segmentTemplateObject.categorizations">
                    <td class="col-md-2">
                        {{segmentTemplateObject.segmentName}}{{categorization.iPath}}
                    </td>
                    <td class="col-md-5">

                        <select class="form-control" ng-model="categorization.testDataCategorization" ng-change="recordChanged(segmentTemplateObject);" ng-options="testDataCategorization for testDataCategorization in testDataCategorizations">
                            <option value="">No test data Cate.</option>
                        </select>
                    </td>
                    <td class="col-md-5">
						<ul>
							<li ng-repeat="data in categorization.listData">
                        {{data}}
							</li>
						</ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</script>
